@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --color-red: #be185d;
  --color-pink: #fb7185;
  --color-rose: #f9a8d4;
}

* > * {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 2rem 0;
}

.bg-red {
  background-color: var(--color-red);
}
.bg-pink {
  background-color: var(--color-pink);
}
.bg-rose {
  background-color: var(--color-rose);
}

h3.title {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
}

.in-ex-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
}

.income {
  color: #be185d;
}

.expense {
  color: aqua;
}

.divider {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 50px;
}

.form-input {
  @apply mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md focus:outline-none focus:ring-indigo-500 sm:text-sm;
}
